<h1>Word Counter</h1>
<p>About: Word Counter shows how many times a word appears in a phrase of text.</p>

<form action="/result">
  <div class="form-group">
    <label>Step 1: type a target phrase below</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label>Step 2: type in a target word</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Find max!</button>
</form>
